@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */


:root{
    --Orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    --VeryDarkBlue: hsl(220, 13%, 13%);
    --DarkGrayishBlue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --LightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsl(0, 0%, 0%);
    --BlackOpacity : hsl(0, 0%, 0%, 0.75);

}

*{
    margin: 0%;
    padding: 0%;
    text-decoration: 0;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    overflow-x: hidden;
    width: 100vw;
}
header{
    margin: auto;
    padding: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    height:  20px;
}

.desktop{
    display: none;
}

#close-menu{
    display: none;
}

#open-menu{
    height: 15px;
    margin-right: 10px;
}

#nav-cart{
}


.number-product-cart{
    position: absolute;
    content: 'TTTT';
    width: 20px;
    height: 10px;
    background-color: var(--Black);
    color: var(--Black);
    border-radius: 20%;
}

.div-nav-cart{
    margin-right: 25px;
    position: relative;

}

#number-cart{
    display: none;
    position: absolute;
    background-color: var(--Orange);
    color: var(--White);
    right: -12px;
    top: -10px;
    padding: 2px 10px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 15px;
}



.nav-cart::after{
}

.cart-and-account{
    display: flex;
}





.div-main-img-product{
    display: flex;
    width: auto;
    height: 300px;

}






main{
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    margin-bottom: 70px;
    position: relative;
}

.main-img-product{
    width: 600vw;
    
}


.details-product{
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

h3{
    margin-bottom: 15px;
    color: var(--Orange);
    font-weight: lighter;
    letter-spacing: 1px;
}



.container-popup-cart{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.195);
    display: none;
    z-index: 4;
    position: absolute;
    width: 80vw;
    height: 210px;
    max-width: 400px;
    padding: 20px;
    background-color: var(--White);
    top: 150px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 14px;
}

.container-popup-cart hr{
    margin: 30px auto 20px auto;
}

.cart-empty{
    text-align: center;
}

h5{
    font-size: 14px;
    font-weight: bolder;
    color: var(--Black);
}
h6{
    color: var(--DarkGrayishBlue);
    font-size: 15px;
}

h1{
    margin-bottom: 15px;
}

p{
    margin-bottom: 20px;
}

.all-prices{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.current-price{
    position: relative;
    font-weight: bolder;
    font-size: 27px;
}

.current-price::after{
    background-color: var(--PaleOrange);
    color: var(--Orange);
    content: '50%';
    font-weight: bold;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.previous-price{
    text-decoration: line-through;
    color: var(--GrayishBlue);
}

.quantity-and-btn-add{

}

.container-quantity{
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--LightGrayishBlue);
    border-radius: 5px;
    align-items: center;
}


.container-quantity button{
    background: transparent;
    border: none;
    cursor: pointer;
}


.container-quantity input{
    background: transparent;
    border: none;
}

#quantity{
    font-weight: bolder;
}

#add-to-cart{
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    padding-top: 8px;
    padding-bottom:13px;
    border: none;
    color: var(--White);
    background-color: var(--Orange);
    align-items: center;
    border-radius: 5px;
    font-weight: bolder;
}




#add-to-cart img{
    margin-right: 10px;
    width: 15px;
    margin-top: 5px;
}



.plus{
    cursor: pointer;
}

.minus{
    cursor: pointer;
}

.cart-not-empty{
    height: 100px;
}

















.carousel-wrapper {
    height: 500px;
    position: relative;
    display: block;
    margin: 0 auto 50px auto ;
    max-width: 600px;
  }

  .carousel-wrapper a{
    background-color: white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-wrapper a img{
    width: 14px;
    height: 18px;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('images/image-product-1.jpg');
    background-size: cover;
  }
  .item-2 {
    background: url('images/image-product-2.jpg');
    background-size: cover;
  }
  .item-3 {
    background: url('images/image-product-3.jpg');
    background-size: cover;
  }

  .item-4 {
    background: url('images/image-product-4.jpg');
    background-size: cover;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  } 





.all-infos-product{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.all-infos-product-second{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

  .cart-product{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .img-product-cart{
    height: 100%;
  }

  .product-name-price{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100px;
  }

  .img-and-info-product{
    height: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .img-and-info-product img {
    margin-right: 20px;
  }


  .checkout{
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    padding-top: 8px;
    padding-bottom:13px;
    border: none;
    color: var(--White);
    background-color: var(--Orange);
    align-items: center;
    border-radius: 5px;
    font-weight: bolder;
    
}


.name-price-product{
    white-space: nowrap; 
}

.name-price-producte{

}

#delete{
    width: 15px;
    height: 20px;
    cursor: pointer;
}
















@media (min-width: 800px) {
    header{
        max-width: 1440px;
        margin-bottom: 40px;
    }
    .mobile{
        display: none;
    }

    .desktop{
        margin-left: 30px;
        display: flex;
    }

    .desktop li{
        margin: 0 20px;
    }

    .logo-and-nav{
        display: flex;
    }

    main{
        max-width: 1440px;
        display: flex;
        justify-content: center;
    }

    .carousel-wrapper{
        width: 400px;
        height: 400px;
    }


    .second-section{
        width: 500px;
    }

    .quantity-and-btn-add{
        display: flex;
        align-items: center;
    }

    .container-quantity{
        width: 20%;
        margin-right: 20px;
    }

    .container-popup-cart{
        right: 40px;
        top: -50px;
        transform: translate(0);
        width: 300px;

    }

    .second-section{
        margin-left: 80px;
    }

    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }

    p{
        font-size: 16px;
    }

    .all-prices{
        display: flex;
        flex-direction: column;
    }







    .container-lightbox{
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.752);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

}
    












.container-img-product {
    display: grid;
    width: 350px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .container-main-img { grid-area: 1 / 1 / 4 / 5; }
    .small-first-img { grid-area: 4 / 1 / 5 / 2; }
    .small-second-img { grid-area: 4 / 2 / 5 / 3; }
    .small-thirst-img { grid-area: 4 / 3 / 5 / 4; }
    .small-fourth-img { grid-area: 4 / 4 / 5 / 5; }

.container-img-product img {
    width: 100%;
    border-radius: 5%;
}

.small-img{
    cursor: pointer;
}










.active{
    opacity: 0.4;
    border: 2px solid var(--Orange);
}