.lightbox {
    max-width: 500px;
    margin: auto;
    position: relative;

    //margin-top: 1rem;

    .product-hero {
        width: 100%;
    }

    .previous {
        left: 4%;

        &:hover {
            left: 3%;
        }
    }

    .next {
        right: 4%;

        &:hover {
            right: 3%;
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background-color: $white;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        transition: all 0.3s ease;
    }

    .thumb-gallery {
        display: none;
    }
}






















.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .btnClose {
        width: 57rem;
        text-align: end;
        padding: 2rem 0;

        img {
            cursor: pointer;
            filter: brightness(300%);
        }
    }

    .lightbox {
        max-width: 35rem;

        .next {
            display: flex;
            right: 0;
            transform: translateX(50%);
        }

        .previous {
            display: flex;
            left: 0;
            transform: translateX(-50%);
        }

        .arrow {
            top: 40%;
        }
    }
}

.hidden {
    display: none;
}
























.product {
    padding: 2.0rem 2.4rem 4.4rem 2.4rem;

    .company-name {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        color: $orange;
        letter-spacing: 0.18rem;
    }

    .title {
        color: $very-dark-blue;
        font-size: 2.8rem;
        font-weight: 700;
        margin-top: 1.3rem;
        line-height: 118%;
    }

    .description {
        font-size: 1.5rem;
        color: $dark-grayish-blue;
        line-height: 165%;
        margin-top: 1.6rem;
    }

    .price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        .group {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .price {
                font-size: 3rem;
                font-weight: 700;
            }

            .discount {
                font-size: 1.5rem;
                font-weight: 700;
                color: $orange;
                background-color: $pale-orange;
                margin-left: 1.4rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
            }
        }

        .old-price {
            font-size: 1.7rem;
            font-weight: 700;
            color: $grayish-blue;
            text-decoration: line-through;
        }
    }

    .counter-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $light-grayish-blue;
        padding: 1.2rem 2.4rem;
        margin-top: 2rem;
        border-radius: 1rem;

        .counter {
            font-size: 1.5rem;
            font-weight: 700;
        }

        #btnMinus, #btnPlus {
            cursor: pointer;
            padding: 1rem;
            border-radius: 0.5rem; //optional

            &:hover {
                opacity: 0.5;
                background-color: $pale-orange; //optional
            }
        }
    }

    .btn {
        background-color: $orange;
        color: $white;

        margin-top: 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        font-size: 1.55rem;
        font-weight: 700;
        border-radius: 1rem;

        padding: 1.9rem;

        img {
            height: 1.5rem;
            filter: brightness(300%);
        }

        box-shadow: 0px 20px 30px 0px $pale-orange;
        cursor: pointer;
    }
}





















@media screen and (min-width: 1100px) {
    .container {
        width: 77%;
        margin: 0 auto;
    }

    header {
        padding: 0;
        border-bottom: 1px solid $grayish-blue;

        .hamburger-logo-group {
            gap: 5.4rem;

            .hamburger {
                display: none;
            }

            .menu {
                display: block;
                position: unset;
                height: unset;
                z-index: unset;

                .slide-menu {
                    width: unset;
                    padding: 0;

                    img {
                        display: none;
                    }

                    ul {
                        flex-direction: row;
                        margin: 0;
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $dark-grayish-blue;

                        a {
                            display: block;
                            padding: 4rem 0;
                            border-bottom: 3px solid transparent;

                            &:hover {
                                color: $very-dark-blue;
                                text-decoration: none;
                                font-weight: 700;
                                border-bottom: 3px solid $orange;
                            }
                        }
                    }
                }
            }
        }

        .cart-avatar-group {
            gap: 4.5rem;

            .avatar {
                width: 5rem;
            }
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 9rem 5rem;
        max-width: 1440px;
        margin: auto;
    }

    .lightbox {
        width: 100%;

        .product-hero {
            border-radius: 1.5rem;
        }

        .previous, .next {
            display: none;
        }

        .thumb-gallery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 3rem;

            .pic {
                display: flex;
                width: 20%;
                height: fit-content;
                overflow: hidden;
                border-radius: 1rem;

                img {
                    width: 100%;

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }

            .active {
                border: 2px solid $orange;
                img {
                    opacity: 0.5;
                }
            }
        }
    }


    

    .product {
        width: 100%;
        padding:0;

        .title {
            font-size: 4.4rem;
            margin-top: 1.8rem;
            
        }

        .description {
            margin-top: 3.5rem;
            font-size: 1.63rem;
        }

        .price-wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2.4rem;
            gap: 0.8rem;
        }

        .count-btn-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            margin-top: 1.5rem;

            .counter-wrapper {
                width: 62%;
                border-radius: 1rem;
                padding: 1.2rem 0.5rem;
            }

            .btn {
                width: 100%;
            }
        }
    }
}